<div class="container">
    <div id="mainMenuOptions">
        <button color="primary" (click)="onStartGame()" class="mainMenuButton tour-mainMenuButton" mat-flat-button>Play</button>
        <button (click)="onTutorial()" class="mainMenuButton" mat-stroked-button>Tutorial</button>
        <button (click)="onPairCreation()" class="mainMenuButton" mat-stroked-button>Pair creation</button>
        <!-- <button (click)="onVirtualDrawerTester()" class="mainMenuButton" mat-stroked-button>Virtual drawer tester</button> -->
        <button (click)="onQuit()" class="mainMenuButton" mat-stroked-button>Quit</button>
    </div>
</div>
