<div class="background">
    <div class="middle">
        <div class="form-wrapper">
            <header>
                <h1>Sign in</h1>
                <h4>We’re so excited to have your credentials!</h4>
            </header>
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <section>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" /><mat-error *ngIf="signInForm.invalid"
                            >Username is required</mat-error
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" /><mat-error *ngIf="signInForm.invalid"
                            >Password is required</mat-error
                        >
                    </mat-form-field>
                </section>

                <div class="buttons">
                    <a class="button" mat-stroked-button color="primary" routerLink="/signup">Sign up</a>
                    <button [disabled]="signInForm.invalid" class="button" mat-flat-button color="primary" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
