mat-tab-group {
    width: 480px;
    height: 480px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button {
        width: 132px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
}