<div class="background">
    <div class="middle long">
        <div class="form-wrapper">
            <header>
                <h1>Sign up</h1>
                <h4>We’re so excited to have your credentials!</h4>
            </header>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <section>
                    <app-avatar-picker (avatarName)="onAvatarName($event)"></app-avatar-picker>
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName" /><mat-error *ngIf="signUpForm.invalid"
                            >First Name is required</mat-error
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" /><mat-error *ngIf="signUpForm.invalid"
                            >Last Name is required</mat-error
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" formControlName="username" maxlength="10" /><mat-error *ngIf="signUpForm.invalid"
                            >Username is required</mat-error
                        >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input (keydown.enter)="onEnter($event)" matInput type="password" formControlName="password" /><mat-error
                            *ngIf="signUpForm.invalid"
                            >Password is required and must meet security requirements</mat-error
                        >
                        <mat-icon
                            matSuffix
                            class="passwordInfo"
                            [matTooltip]="passwordInfo"
                            matTooltipShowDelay="500"
                            matTooltipPosition="right"
                            matTooltipClass="longMessage"
                            >help_outline</mat-icon
                        >
                    </mat-form-field>
                </section>

                <div class="buttons">
                    <a class="button" mat-stroked-button color="primary" routerLink="/signin">Back</a>
                    <button [disabled]="signUpForm.invalid" class="button" mat-flat-button color="primary" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
