.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    padding: 5px;
    background: #ffffff;
    color: #b2b7c2;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
