h2 {
    margin-bottom: 24px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button {
        width: 80px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        margin-left: 16px;
    }
}